html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

p, div {
  margin: 0;
  margin-top: 1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  line-height: 1.1;
  position: relative;
}

.h1 {
  font-size: 2em;
  margin-left: -.85em;
}

.h2 {
  font-size: 1.6em;
  margin-left: -1.43em;
}

.h3 {
  font-size: 1.3em;
  margin-left: -2em;
}

.h4 {
  font-size: 1.2em;
  margin-left: -2.57em;
}

.h5 {
  font-size: 1em;
  margin-left: -3.15em;
}

.h6 {
  font-size: .75em;
  margin-left: -3.68em;
  text-transform: uppercase;
}

.blockquote {
  border-left: solid 4px #ccc;
  position: relative;
  padding: .25em 0;
}
.blockquote::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: .6em;
  background-color: white;
}

.pre {
  font-family: monospace;
  background: #333;
  color: white;
  padding: 0.5em;
  border-radius: 2px;
}

.hr.hr {
  display: block;
  height: 2px;
  overflow: hidden;
  margin: 2rem 0;
  background: #ccc;
}

*[contenteditable]:focus {
  outline: none;
}

.editor {
  margin-top: 2rem;
  overflow: hidden;
}

.container {
  padding: 2rem 1rem;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 60ch;
}
